.nosto-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
  text-align: center;
}
.nosto-title {
  font-size: 30px;
  margin-bottom: 40px;
}
.nosto-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 15px;
}
.nosto-item {
  width: calc((100% - (4 * 15px)) / 5);
  cursor: pointer;
}
@media (max-width: 1024px) {
  .nosto-item {
    width: calc((100% - (2 * 15px)) / 3);
  }
}
@media (max-width: 767px) {
  .nosto-item {
    width: calc((100% - (1 * 15px)) / 2);
  }
}

.nosto-image {
  padding-top: 100%;
  position: relative;
}
.nosto-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.nosto-product-details {
  margin-top: 10px;
}
